{{ if .paginator.HasPages }}
  <ul class="pagination">
    {{ if .paginator.HasPrev }}
      <li class="pagination__page">
        <a class="pagination__link" href="{{ .paginator.PageLinkPrev }}">&lt;Prev</a>
      </li>
    {{ end }}

    {{ range $index, $page := .paginator.Pages }}
      {{ if $.paginator.IsActive . }}
        <li class="pagination__page" data-page-number="{{ $page }}">
          <span class="pagination__text">{{ $page }}</span>
        </li>
      {{ else }}
        <li class="pagination__page" data-page-number="{{ $page }}">
          <a class="pagination__link" href="{{ $.paginator.PageLink $page }}">{{ $page }}</a>
        </li>
      {{ end }}
    {{ end }}

    {{ if .paginator.HasNext }}
      <li class="pagination__page">
        <a class="pagination__link" href="{{ .paginator.PageLinkNext }}">Next&gt;</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
