<div class="list-keyword table table--zebra">
  <div class="table__row table__header">
    <div class="table__headline">Keyword</div>
    <div class="table__headline table__headline--fix-width">Created At</div>
  </div>

  {{ if .Keywords }}
    {{ range $keyword := .Keywords }}
      <div class="table__row">
        <div class="table__cell">{{ $keyword.Keyword }}</div>
        <div class="table__cell">{{ $keyword.CreatedAt | toTimeAgo }}</div>
      </div>
    {{ end }}
  {{ else }}
    <div class="table__row table__row--placeholder">
      <div class="table__cell">
        {{ if .RetrieveKeywordFailed }}
          {{ .RetrieveKeywordFailed }}
        {{ else }}
          You haven't searched in any keywords yet :)
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
