<form class="form form--right-align" action="{{ urlfor `OauthClientController.Create` }}" method="post">
  {{ .XSRFForm }}

  <fieldset>
    <legend class="form__headline">
      Looking for an OAuth client credential?
      <strong>Generate a new one :P</strong>
    </legend>

    <div class="form__group">
      <label class="form__label" for="client_id">id: </label>
      <input class="form__input" type="text" id="client_id" value="{{ .ClientId }}" placeholder="* * * * * * * *" readonly>
    </div>

    <div class="form__group">
      <label class="form__label" for="client_secret">secret: </label>
      <input class="form__input" type="text" id="client_secret" value="{{ .ClientSecret }}" placeholder="* * * * * * * *" readonly>
    </div>

    <div class="form__group">
      <button type="submit" class="button button--primary">Generate</button>
    </div>
  </fieldset>
</form>
