.alert {
  @apply fixed flex w-full sm:w-96 top-0 sm:top-4 sm:right-4 p-4 border border-l-8 bg-white border-black shadow-2xl z-50;

  &__bullet {
    @apply flex justify-center items-center mr-4 w-8 h-8 rounded-2xl text-white bg-black;

    min-width: 2rem;
    min-height: 2rem;
  }

  &__title {
    @apply text-xl mb-2;
  }

  &__message {
    @apply font-thin;
  }
}

@each $color, $value in $alert-color {
  .alert__#{$color} {
    border-color: $value;
  }

  .alert__#{$color} .alert__bullet {
    background-color: $value;
  }

  .alert__#{$color} .alert__title {
    color: $value;
  }
}
