.button {
  @apply inline-block rounded-3xl capitalize cursor-pointer focus:outline-none border-solid px-4 py-2;

  border-width: 3px;

  &--icon {
    @apply flex items-center justify-center h-10 w-10 p-0 border border-transparent transition cursor-pointer;

    min-height: 2.5rem;
    min-width: 2.5rem;

    &:focus,
    &:hover {
      background-color: map-get($brand-color, 'shark');
      border-color: map-get($brand-color, 'shark');
      color: hsl(0, 0%, 100%);
    }
  }
}

// Alternate buttons
@each $color, $value in $button-color {
  .button--#{$color} {
    color: hsl(0, 0%, 100%);
    background-color: $value;
    border-color: $value;
  }
}

@each $color, $value in $button-color {
  .button-outline--#{$color} {
    color: $value;
    background-color: hsl(0, 0%, 100%);
    border-color: $value;
  }
}
