.form {
  @apply p-4;

  &--right-align {
    @apply text-right;
  }
}

.form__headline {
  @apply border-b border-dashed mb-8 pb-4;

  border-bottom-color: map-get($brand-gray, 300);

  > strong {
    @apply block text-2xl mt-2;
  }
}

.form__group {
  @apply mb-4;
}

.form__label {
  @apply block sm:inline-block mb-2 sm:mb-0 capitalize cursor-pointer;
}

.form__input {
  @apply block sm:inline-block w-full sm:w-auto rounded-3xl border border-solid border-2 outline-none px-4 py-2;

  border-color: map-get($brand-gray, 300);

  &::placeholder {
    @apply capitalize opacity-100;

    color: map-get($brand-gray, 300);
  }
}

.form__action {
  @apply mt-8;
}
