body.dashboard.index {
  .search-keyword {
    @apply relative py-4 sm:py-8;

    .form.form--invisible {
      @apply absolute top-6 sm:top-10 left-4;

      z-index: map-get($z-index, 'behide');;

      input[type="file"] {
        @apply w-8;
      }
    }

    .form .form__group:last-of-type {
      @apply mb-0;
    }

    .form .form__input + .button {
      @apply ml-2;
    }

    .form .form__input {
      @apply w-full;
    }
  }

  .upload-file-button {
    @apply relative ml-4;

    &:before {
      @apply absolute;

      content: "\00B7";
      color: map-get($brand-color, 'shark');
      left: -0.875rem;
    }
  }

  .list-keyword.table {
    &__cell:last-of-type,
    &__headline:last-of-type {
      @apply hidden sm:table-cell;
    }

    &__headline--fix-width {
      width: 12.5rem;
    }
  }
}
